@import "tailwindcss";

:root {
  --brand-primary: #C29B9A;
  --brand-dark: #231818;
  --brand-darker: #211717;
  --brand-darkest: #1a1212;
  --brand-accent: #C29B9A;
  --brand-light: #D8B5B4;
}

@theme {
  --color-brand-primary: var(--brand-primary);
  --color-brand-dark: var(--brand-dark);
  --color-brand-darker: var(--brand-darker);
  --color-brand-darkest: var(--brand-darkest);
  --color-brand-accent: var(--brand-accent);
  --color-brand-light: var(--brand-light);
}