@import "tailwindcss";

:root {
  --brand-primary: #AD6268;
  --brand-dark: #2A1719;
  --brand-darker: #201213;
  --brand-darkest: #150C0C;
  --brand-accent: #AD6268;
  --brand-light: #DABEC0;
}

@theme {
  --color-brand-primary: var(--brand-primary);
  --color-brand-dark: var(--brand-dark);
  --color-brand-darker: var(--brand-darker);
  --color-brand-darkest: var(--brand-darkest);
  --color-brand-accent: var(--brand-accent);
  --color-brand-light: var(--brand-light);
}